Desktop
Documents
Downloads
examples.desktop
Music
Pictures
Public
Templates
Videos

.ICEauthority
.Xauthority
.cache/
.config/
.dmrc
.gstreamer-0.10/
.local/
.mozilla/
.xsession-errors
.pki

.bash_history
.bash_logout

.viminfo
.vim/.netrwhist
