Desktop
Documents
Downloads
examples.desktop
Music
Pictures
Public
Templates
Videos

.ICEauthority
.Xauthority
.cache/
.config/
.dmrc
.gstreamer-0.10/
.local/
.mozilla/
.xsession-errors
.pki
.ssh
.z

.bash_history
.bash_logout

.viminfo
.vim/.netrwhist

[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
*.un~
Session.vim
.netrwhist
*~
